{% extends "layout.html" %}
{% block body %}
  <h1>Courses:</h1>
  {% for course in courses %}
  <div style="margin-left: 25px"><a href="/{{ course.name }}/">{{ course.name }}</a></div>
  {% endfor %}


  {% if course %}
  <hr />
  <h1 class="centertext">
    {{course.name}}
  </h1>
    <h1>Assignments:</h1>
  {% for assignment in course.assignments %}
  <div style="margin-left: 25px"><a href="/{{assignment.course.name}}/{{ assignment.name }}/">{{ assignment.name }}</a></div>
  {% endfor %}
  {% endif %}

  {% if assignment %}
  <h1 class="centertext">
    {{assignment.name}}
  </h1>
  <div id="upload_section">
    <input type="file" name="test-file" id="submission" />
    <input type="button" name="submit" id="submit" value="Test!" />
  </div>
  <div id="results"></div>
  {% endif %}
{% endblock %}
