<!doctype html>
<html>
<head>
  <script src="{{ url_for('static', filename='jquery-2.2.1.js') }}"></script>
  <script src="{{ url_for('static', filename='underscore.js') }}"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <title>Cornell CS Try Server</title>
  {% block head %}{% endblock %}
</head>
<body>
  <div class="topbar">
    <img src="{{ url_for('static', filename='cornell.png') }}" />
    <a href="#">
      try.cs.cornell.edu
    </a>
  </div>
  {% block body %}{% endblock %}
</body>
</html>
