{% extends "layout.html" %}
{% block body %}
  <div class="header centertext">
    Admin
  </div>
  <div>
    <form name="new_course_form" action="" method="POST">
      Add new course:
      <input type="text" name="new_course_name" />
      <input type="submit" name="submit" id="submit" value="Add Course" />
    </form>
  </div>
  {% for course in courses %}
  <div><a href="/admin/{{ course.name }}/">{{ course.name }}</a></div>
  {% endfor %}

  {% if course %}
  <hr />
  <div class="header centertext">
    {{course.name}}
  </div>
  <div>
    <form name="new_assignment_form" action="" method="POST" enctype="multipart/form-data">
      Add new assignment:<br />
      Assignment Name: <input type="text" name="new_assignment_name" /><br />
      Release Code (optional): <input type="file" name="release-code" id="release-code" />
      <input type="submit" name="submit" id="submit" value="Add Assignment" />
    </form>
  </div>
  {% for assignment in course.assignments %}
  <div><a href="/admin/{{assignment.course.name}}/{{ assignment.name }}/">{{ assignment.name }}</a></div>
  {% endfor %}
  {% endif %}

  {% if assignment %}
  <hr />
  <div class="header centertext">
    {{assignment.name}}
  </div>
  <div>
    <form name="add_test_file_form" action="" method="POST" enctype="multipart/form-data">
      Add new test file:
      <input type="file" name="test-file" id="test-file" />
      <input type="hidden" name="testfile_name" value="" />
      <input type="submit" name="submit" id="submit" value="Add New Test File" />
    </form>
  </div>
  {% endif %}
{% endblock %}
