body {
  min-width: 1625px;
}

/* Admin Navigation */
.navigation {
  display: block;
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 240px;
  background: #2b323a;
  z-index: 2;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0;
}

.navigation li {
  position: relative;
}

.navigation li a {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: block;
  color: #969ba0;
  font-size: 18px;
  padding: 10px 25px;
  vertical-align: middle;
}

.navigation li ul li:first-child:before {
  top: 5px;
}

.navigation li ul li:before {
  content: "";
  left: 30px;
  top: -15px;
  bottom: 15px;
  position: absolute;
  display: block;
  width: 1px;
  border-left: 1px dashed #606c77;
  z-index: 1;
}

.navigation li ul li a:before {
  content: "";
  left: 30px;
  top: 15px;
  position: absolute;
  display: block;
  width: 15px;
  border-bottom: 1px dashed #606c77;
  z-index: 1;
}

.navigation li ul li a {
  text-decoration:none;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0 5px 55px;
}

/* Hover & Active States */
.navigation li ul li.active a:after { background-color: #3498DB; }
.navigation .active > a { color: #fff; }
.navigation li ul li.active > a { background: rgba(0,0,0,0.15); }
.navigation > ul > li > a:hover {
  color: #fff;
  background: rgba(255,255,255,0.05);
}

.navigation li ul li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.05);
}

.container {
  margin:10px 0 0 250px;
}

h1 {
  font-size: 150%;
  margin-bottom:10px;
}
h2 {
  font-size: 120%;
  margin:10px 0;
}
p {
  margin-bottom:10px;
}

.adminform ol {
  border-top: 6px solid;
  border-radius: 4px;
}
.adminform ol li {
  padding:5px;
}
.adminform ol li:first-child {
  padding-top:10px;
}
.adminform ol li:last-child {
  padding-bottom:10px;
}
.adminform ol li.form_row label {
  width:50%;
  display:inline-block;
  vertical-align:top;
}
.adminform ol li.form_row ul {
  width:40%;
  display:inline-block;
}
.adminform ol .form_row input:not([type=file]),
.adminform ol .form_row textarea,
.adminform ol .form_row select {
  font-size:16px;
  width:40%;
  margin-right:5px;
}
.adminform ol .form_row textarea {
  height:200px;
}

.adminform .bottom_container {
  border-bottom: 4px solid;
  border-radius: 0 0 8px 8px;
}
.adminform .bottom_container input[type=submit] {
  margin:10px;
  font-size:18px;
  padding:3px;
}
.adminform .bottom_container div {
  padding:15px;
}

#problems input {
  width:30%;
}
.use_problems {
  margin-left:50%;
}

.testfiles_list .testfile:first-child {
  border-top: 6px solid #ff8080;
  border-radius: 4px;
}
.testfiles_list .testfile div {
  padding: 5px 15px;
  background-color:#ff8080;
}
.testfiles_list .testfile ol {
  border:0;
}
.testfiles_list .testfile .unittest.edit_all {
  background-color:#ff9999;
}
.testfiles_list .unittest span:first-child {
  width:500px;
  display:inline-block;
}
.testfiles_list .unittest span:first-child input {
  width:350px;
}
.testfiles_list span {
  margin-right:20px;
}
.testfiles_list label {
  margin-left:20px;
}
.testfiles_list textarea {
  vertical-align: middle;
  height:3em;
}
.testfiles_list input[type=button] {
  float:right;
  font-size:20px;
  padding:3px;
}

.adminform.formblue ol {
  background-color: #e5ffff;
  border-color:#6495ed;
}
.adminform.formblue ol > li:nth-child(odd) {
  background-color:#ccffff;
}
.adminform.formblue .bottom_container {
  background-color:#6495ed;
  border-color:#6495ed;
}
.adminform.formgreen ol {
  background-color: #e5ffe5;
  border-color:#9acd32;
}
.adminform.formgreen ol > li:nth-child(odd) {
  background-color:#ccffcc;
}
.adminform.formgreen .bottom_container {
  background-color:#9acd32;
  border-color:#9acd32;
}
.adminform.formred ol {
  background-color: #ffe5e5;
  border-color:#ff8080;
}
.adminform.formred ol > li:nth-child(odd) {
  background-color:#ffcccc;
}
.adminform.formred .bottom_container {
  background-color:#ff8080;
  border-color:#ff8080;
}

#grade_all_response {
  text-align: center;
}

#grade_all_response .summary {
  display:inline-block;
  width:400px;
  padding:30px;
  text-align:left;
  vertical-align:top;
}

#grade_all_response .summary table {
  font-size: 20pt;
  border-collapse: separate;
  border-spacing: 30px 10px;
}

#grade_all_response .test_stat_table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.axis text {
  font-size: 12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
