html,body {
  height: 100%
}
.container{
  padding: 50px;
}
header {
  text-align:center;
  margin-bottom:40px;
}
#body{
  padding-bottom: 170px;    /* height of footer */
}
footer{
  text-align: center;
  height: 150px;
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
p {
  margin-bottom:8px;
}
h1 {
  font-size: 150%;
  padding-top:20px;
  margin-bottom:10px;
}
.centertext {
  text-align: center
}

#upload_section {
  text-align:center;
  padding:20px;
}

.test_summary {
  text-align:center;
  font-size:32pt;
  padding:20px;
}

.test_result {
  padding: 20px;
}

.test_name {
  font-weight: bold;
  text-align:center;
}

.passed {
  background-color: #BFB;
}

.failed {
  background-color: #FBB;
}
