/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** END CSS RESET **/
body {
  font-family: 'Open Sans', sans-serif;
}
.container{
  padding: 50px 0 0 0;
  min-height: 100%;
  position:relative;
}
.topbar {
  padding: 3px 3px 0 0;
  height: 50px;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  border-color:#e7e7e7;
  width:100%;
  position:fixed;
  top:0px;
  z-index:1;
}
.topbar a {
  color: #777;
  float: left;
  height: 50px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}
.topbar a:hover,
.topbar a:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.topbar img {
  float:left;
  height:40px;
  width:40px;
  padding:3px;
}
.flashes li {
  display:block;
  padding:10px;
  border:1px solid black;
  margin-bottom:5px;
}
.flashes li.message {
  font-weight:bold;
  color:green;
  background-color:#9f9;
  border-color:green;
}
.flashes li.warning {
  font-weight:bold;
  color:#770;
  background-color:gold;
  border-color:#770;
}
.flashes li.error {
  font-weight:bold;
  color:#700;
  background-color:#f99;
  border-color:red;
}

strong {
  font-weight: bold
}

.hidden {
  display: none !important;
}

.centertext {
  text-align:center;
}
